@font-face {
    font-family: 'IosevkaTerm';
    src: url(/fonts/IosevkaTermNerdFontMono-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IosevkaTerm';
    src: url(/fonts/IosevkaTermNerdFontMono-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'IosevkaTerm';
    src: url(/fonts/IosevkaTermNerdFontMono-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'IosevkaTerm';
    src: url(/fonts/IosevkaTermNerdFontMono-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

* {
    font-family: 'IosevkaTerm';
}

body {
    background: #010210;
    color: white;
}

ul {
    padding-left: 2ch;
}

ul > li::marker {
    content: '• ';
}

/* custom element! */
paren {
    display: inline;
    color: gray;
    font-style: italic;
}
paren::before {
    content: '(';
}
paren::after {
    content: ')';
}

a {
    color: #8080ff;
}

abbr[title] {
    text-decoration: underline #ffffff80;
}

.brazil {
    background-image: linear-gradient(-45deg, #009440, #ffcb00, #302681, #ffffff, #302681, #ffcb00, #009440);
    color: transparent;
    background-clip: text;
}
