@font-face {
    font-family: 'IosevkaTerm';
    src: url(/fonts/IosevkaTermNerdFontMono-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IosevkaTerm';
    src: url(/fonts/IosevkaTermNerdFontMono-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'IosevkaTerm';
    src: url(/fonts/IosevkaTermNerdFontMono-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'IosevkaTerm';
    src: url(/fonts/IosevkaTermNerdFontMono-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

* {
    font-family: 'IosevkaTerm';
}

body {
    background: black; /* placeholder */
    color: white;
}

ul {
    padding-left: 2ch;
}

ul > li::marker {
    content: '• ';
}

/* custom element! */

paren {
    display: inline;
    color: gray;
    font-style: italic;
}
paren::before {
    content: '(';
}
paren::after {
    content: ')';
}
