#container {
    width: 920px;
    height: 678px;
    display: flex;
}

#game tr td {
    width: 100px;
    height: 100px;
    font-size: 90px;
    text-align: center;
}

#keyboard {
    width: 400px;
    height: 200px;
    padding-left: 0px;
    margin-right: 0px;
    border: 5px solid #000;
}

#keyboard div {
    width: 40px;
    height: 40px;
    font-size: 30px;
    position: relative;
    text-align: center;
}

.bad-design {
    font-family: sans-serif;
}